.App {
  text-align: center;
}

.Header {
  padding: 30px;
  margin: 10px;
}
.Header nav {
  display: flex;
  justify-content: right;
  gap: 15px;
  margin-bottom: 50px;
}
.Header a {
  text-decoration: none;
  font-weight: bold;
}

.Section {
  padding: 30px;
  margin: 10px;
  text-align: left;
}
.Section img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
}
.Section button {
  display: block;
  max-height: 30px;
}
.Section small {
  display: block;
  justify-self: end;
  margin-bottom: 20px;
}

#AudialExample {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#AudialExample .liveTryAudial {
  grid-row: 1;
  font-size: large;
}

#UiExample {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  text-align: center;
}

.demoUi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  text-align: center;
}

.featureExample {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.Footer {
  padding: 30px;
  margin: 10px;
}
.Footer a {
  text-decoration: none;
}
