.App {
  text-align: center;
}

.Header {
  padding: 30px;
  margin: 10px;
}

.Section {
  padding: 30px;
  margin: 10px;
  text-align: left;
}
.Section img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
}

.Footer {
  padding: 30px;
  margin: 10px;
}
.Footer a {
  text-decoration: none;
}
